.App {
  text-align: center;
  background-color: #A9A7A8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Title {
  color: #8A8A8A;
}

.jumbotron {
  background-color: #6E6E6E !important;
  font-weight: bold;
  width: 80%;
  top: 0;
  position: fixed;
  padding-top:20em;
}