.App {
  text-align: center;
  background-color: #A9A7A8;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Header-grey {
  color: #8A8A8A;
}

.jumbotron {
  background-color: #6E6E6E !important;
  width: 100%;
  top: 0;
  padding-top:20em;
}

.container {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.MovieList-header {
  color: white;
}
.MovieList-title {
  display: flex;
  flex-direction: row;
  color: white;
}

.container div {
  /* border: 1px #ccc solid; */
  padding: 10px;
}

.MovieList-title-counter {
  flex: 1
}
.MovieList-title-link {
  flex: 1.1;
  align-self: center;
}

.MovieList-title-link-button {
  padding-right: 0;
}

.MovieList-title-spacer {
  flex: 3;
}

.btn {
  border-radius: 0px !important;
}